@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.bg-growing-underline {
		background-size: 100% 0.2em;
		background-position: 0 88%;
		@apply bg-no-repeat transition-all duration-200;
	}
	.bg-growing-underline:hover {
		background-size: 100% 100%;
	}
	.bg-growing-underline:focus {
		background-size: 100% 100%;
	}
}

.underline-effect {
	@apply bg-gradient-to-r from-blue-400 to-pink-500 bg-growing-underline text-primary-400 hover:text-white;
}

.text-effect {
	@apply text-transparent bg-clip-text from-blue-400 to-pink-500 bg-gradient-to-r;
}

.line-effect {
	@apply bg-gradient-to-b from-primary via-primary/40 to-primary/0;
}

.filter-effect {
	backdrop-filter: blur(20px) saturate(1.7);
}

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	@apply bg-secondary;
}

::-webkit-scrollbar-thumb {
	@apply bg-primary/50 rounded;
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}

::selection {
	@apply bg-primary/40 text-white;
}

.iframe {
	height: calc(100vh - 180px);
	width: calc(100vw - 10px);
	margin: auto;
	box-sizing: border-box;
}

.dark .prose h1,
.dark .prose h2,
.dark .prose h3,
.dark .prose h4,
.dark .prose h5,
.dark .prose h6 {
	color: white;
}

.title {
	@apply text-5xl sm:text-7xl md:text-8xl lg:text-9xl;
}

.title2 {
	@apply text-5xl sm:text-7xl md:text-8xl;
}

.h0 {
	@apply text-3xl md:text-5xl;
}

.h1,
h1 {
	@apply text-2xl md:text-4xl;
}

.h2,
h2 {
	@apply text-xl md:text-3xl;
}

.h3,
h3 {
	@apply text-lg md:text-2xl;
}

.h4,
h4 {
	@apply text-base md:text-lg;
}

.h5,
h5 {
	@apply text-sm md:text-base;
}

.h6,
h6 {
	@apply text-xs md:text-sm;
}

.h7 {
	@apply text-xs;
}

.card-bg {
	/*
	background: linear-gradient(
		180deg,
		rgba(35, 37, 49, 0.9),
		rgba(25, 25, 34, 0.7)
	);
	*/
	@apply bg-secondary-400;
}

/* CODE CSS */
code[class*="language-"],
pre[class*="language-"] {
	color: #ffffff;
	font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier,
		monospace;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	font-size: 0.95em;
	line-height: 1.6em;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

pre > code[class*="language-"] {
	font-size: 1em;
}

pre[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection {
	@apply bg-secondary text-white;
}

pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection {
	@apply bg-secondary text-white;
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: 0.5em 0;
	overflow: auto;
	@apply rounded border border-primary/30;
}

/* Inline code */
code:not([class*="language-"]) {
	padding: 0.2em 0.4em;
	border-radius: 0.2px;
	border: 1px solid #dddddd;
	color: #ffffff;
	@apply bg-secondary text-white;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #999988;
	font-style: italic;
}

.token.namespace {
	opacity: 0.7;
}

.token.string,
.token.attr-value {
	color: #e3116c;
}

.token.punctuation,
.token.operator {
	color: #fff; /* no highlight */
}

.token.entity,
.token.url,
.token.symbol,
.token.number,
.token.boolean,
.token.variable,
.token.constant,
.token.property,
.token.regex,
.token.inserted {
	color: #36acaa;
}

.token.atrule,
.token.keyword,
.token.attr-name,
.language-autohotkey .token.selector {
	color: #00a4db;
}

.token.function,
.token.deleted,
.language-autohotkey .token.tag {
	color: #9a050f;
}

.token.tag,
.token.selector,
.language-autohotkey .token.keyword {
	color: #00009f;
}

.token.important,
.token.function,
.token.bold {
	font-weight: bold;
}

.token.italic {
	font-style: italic;
}

/* END CODE CSS */
