:root {
	--primary: #ffffff;
	--secondary: #fafafa;
	--grey: #eeeeee;
	--accent: #00a2ff;
	--border: #dddddd;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	text-align: center;
	background-color: var(--primary);
}

a {
	color: inherit;
	text-decoration: none;
}

ul {
	list-style: none;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		margin-top: 1rem;
	}
	to {
		opacity: 1;
		margin-top: 0.75rem;
	}
}
